:root {
    --background-color: #fef7f2;
    --font-color: #7b716d;
    --black: #000000;
    --button-color: #cbc0b9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    background: var(--background-color);
    color: var(--font-color);
    min-height: 100vh;
}

.navbar,
.footer {
    background-color: var(--background-color);
    color: var(--font-color);
}

.submit-button,
.clear-history-button {
    background-color: var(--button-color);
    color: var(--background-color);
  }

.about-us {
    color: var(--font-color);
}

.footer {
    margin-top: auto;
}